*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Hanalei Fill', cursi;
    background-image: url('../assets/background.webp');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.viewport{
    display: flex;
    height: 100%;
    flex-direction: column;
}
h1{
    color: #cc1212;
    font-family: 'Hanalei Fill', cursi;
    position: relative;
    top: 0;
}

#pet-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 20px;
}
#pet-selection input {
    margin: 20px;
}
.card-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.display-none{
    display: none !important; 
}
.img-selection{
    border-radius: 50%;
    height:200px;
    width: 200px;
}